form {
  font-size: 300%;
  border-color: palevioletred;
  background-image: url(../../../assets/imgs/oi.jpg);
  background-size: cover;
  margin: 0 auto;
  width: min-content;
  padding: 20px;
}


select:hover {
  background-color: rgba(17, 96, 82, 0.699);
}

h1 {
    background-image: url(../../../assets/imgs/istockphoto-642235300-612x612.jpg);
    background-size: cover;
  color: white;
 text-align: center;
  font-size: 300%;
  margin: 0 auto;
  width: min-content;
  padding: 10px;
}

#home {
  height: 100%;
  background-color: rgb(28, 13, 13);
 
  background-size: cover;
 
  
}
