


<div>

<h1><b>forgive me father for i have <s>synthed</s></b></h1><br>

<form align="center">
    <a style="font-style:inherit ;">Escolha uma música:</a><br>
    <div>
    
    <select style="font-size: 50% ;" id="MySelect">
      <option disabled selected hidden align= "center">Músicas:</option>
      <option value="Grimes">Grimes</option>
      <option value="CrazyFrog">Crazy Frog - Axel F</option>
      <option value="Leo">Leonardo</option>
    </select>
 
    <br><br>
   <input style="font-size:50% ;" type="submit" value="Submit">
  
    </div><br clear="all">
 
   </form>

</div>
