<div id="home">

  <h1><b>forgive me father for i have <s>synthed</s></b></h1><br>

  <form>
    <a style="white-space: nowrap; text-align: center;">Escolha uma música:</a><br>

    <select style="width: 100%; height: 2.5rem" id="MySelect">
      <option disabled selected hidden align="center">Músicas:</option>
      <option value="Grimes">Grimes</option>
      <option value="CrazyFrog">Crazy Frog - Axel F</option>
      <option value="Leo">Leonardo</option>
    </select>

    <br><br>
    <input style="font-size:50%; width: 100%;" type="submit" value="Submit">

  </form>

</div>