
 
   
   <form>
   <a>Escolha uma música:</a><br>


   <div>
   
   <select id="MySelect">
     <option disabled selected hidden>Músicas:</option>
     <option value="Grimes">Grimes</option>
     <option value="CrazyFrog">Crazy Frog - Axel F</option>
     <option value="Leo">Leonardo</option>
   </select>

   <br><br>
  <input type="submit" value="Submit">
 
   </div><br clear="all">

  </form>
   
   
   
   
       

   <img src="src/app/assets/imgs/cat-vibig.gif" id="catvibing" alt="cat vibing">

   <img src="src/app/assets/imgs/piano.gif" id="catpiano" alt="cat piano">
  



   
 

  
 
