<div id="nun">
    <link rel="icon" type="png" href="Gato-PNG.png">

    <div id="notes">

        <div *ngIf="musicx == 'AxelF'">
            <p> <i> Axel F - Crazy Frog </i> </p><br>
            <p>e -- t - e - ey e w </p><br><br>
            <p>e -- t - e - ey e w </p><br><br>
            <p>e -- u-e-ey e w </p><br><br>
            <p>e -- u - e - ei u t </p><br><br>
            <p>e u p ew wf 2 e- </p><br>
        </div>

        <div *ngIf="musicx == 'Musica1'">
            <p>BUCETA</p>
        </div>

        <div *ngIf="musicx == 'Musica2'">
            <p>CU</p>
        </div>

    </div>

    <div id="borda"></div>

    <body>



        <link rel="stylesheet" href="nun.component.scss">

        <div id="piano">

            <div class="keys" (click)="playKey($event)">
                <div class="bkeys">
                    <div class="key bkey">0</div>
                    <div class="key bkey">1</div>
                    <div class="key bkey">2</div>
                    <div class="key bkey">3</div>
                    <div class="key bkey">4</div>
                    <div class="key bkey">5</div>
                    <div class="key bkey">6</div>
                    <div class="key bkey">7</div>
                    <div class="key bkey">8</div>
                    <div class="key bkey">9</div>
                </div>

                <div class="wkeys">
                    <div class="key wkey">Q</div>
                    <div class="key wkey">W</div>
                    <div class="key wkey">E</div>
                    <div class="key wkey">R</div>
                    <div class="key wkey">T</div>
                    <div class="key wkey">Y</div>
                    <div class="key wkey">U</div>
                    <div class="key wkey">I</div>
                    <div class="key wkey">O</div>
                    <div class="key wkey">P</div>
                    <div class="key wkey">A</div>
                    <div class="key wkey">S</div>
                    <div class="key wkey">D</div>
                    <div class="key wkey">F</div>
                </div>
            </div>

        </div>

        <img src="../../../assets/imgs/cathand.png" id="hand">
        <img src="../../../assets/imgs/piano.gif" id="catpiano" alt="cat piano">
        <img src="../../../assets/imgs/R.gif" id="image" alt="cat piano">
        

        <div id="meow">
            <button (click)="playMeow()" class="meowbutton"></button>
            <a class="buttonhome" href="/home"></a>
        </div>



        <script> src = "nun.component.ts" </script>
    </body>
</div>